/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[3]!./app/(components)/UniCard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.UniCard_card__9MQyk {
    border: 1px solid #d2d2d2;
    box-shadow: 2px 2px #d2d2d2;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
