/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[3]!./app/(components)/UniMenu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.UniMenu_list__AdWXV {
    margin-bottom: 0px;
}

.UniMenu_list__AdWXV li {
    display: inline-block;
    color: white;
    margin-right: 15px;
}
